[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mpmath = "==1.2.1"
sympy = "==1.9"

[dev-packages]
build = "*"
twine = "*"
coverage = "*"

[requires]
python_version = "3.8"
